header {background-color: rgb(247, 3, 3);
color: black;
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 22%;}
li {
    display: inline-block;
    margin: 0 32px;
    padding: 90px 0;
font-size: 30px;}

.escola-imagem{
    width: 20%;
}