*{margin: 22;
padding: 22;}
body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
header {background-color: rgb(247, 3, 3);
color: black;
display: flex;
justify-content: space-around;
padding: 22px 0;}
.cabecalho-imagem{width: 22%;}
h1{
    display: inline-block;
    margin: 0 32px;
    padding: 100px 0;
font-size: 37px;}

li{}

.escola-imagem{
    width: 120%;}
    .escola{background-image: linear-gradient(red,white);
    display: flex;
justify-content: flex-start;
align-items: center;
padding: 22px 0;}
.aluno-um{
    width: 22%;
}
.estudante-titulo
{
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}
.estudante-icone
{width: 50px;}
.estudante-div {
    text-align:center;
}
.estudante-todos {
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
}
footer{
    background-color: white;
    color: red;
    font-size: 22px ;
    text-align: center;
}
.estudante{
    background-color: rgb(160, 30, 30);
}